#home-intro .flexslider {
	
}

#home-intro .flexslider ul.slides {
	margin: -10px 0px;
	height: 240px;
}

#home-intro .flexslider ul.slides li {
}

#home-intro .flexslider ul.slides li div {
	display: inline-block;
	vertical-align: middle;
}

#home-intro .flexslider ul.flex-direction-nav li a {
	position: relative;
	display: inline-block;
	height: 71px;
	width: 23px;
	overflow: hidden;
	text-indent: -100px;
}

#home-intro .flexslider ul.flex-direction-nav li a.flex-prev {
	top: -165px;
	left: -70px;
	background:
		url('#{resource["soupsocial:gfx/arrow-left-light-gray.png"]}');
}

#home-intro .flexslider ul.flex-direction-nav li a.flex-next {
	top: -236px;
	left: 925px;
	background:
		url('#{resource["soupsocial:gfx/arrow-right-light-gray.png"]}');
}

#home-intro .flexslider ul.slides h1 {
	line-height: 125%;
}

#home-intro .flexslider ul.slides h3 {
	margin: 20px 0px;
}

#home-intro .flexslider ul.slides  button {
	margin-right: 15px;
}

#home-intro .flexslider ul.slides .video-text {
	margin-right: 10px;
	width: 525px;
}

#home-intro .flexslider ul.slides .teaser-video {
	margin-left: 10px;
	border: 2px solid #FFFFFF;
}

#home-intro .flexslider ol.flex-control-nav {
	display: none;
}

#home-intro .flexslider ul.flex-direction-nav {
	list-style: none;
	position: absolute;
}

#content {
	
}

#content #how-it-works header a {
	padding: 5px 0px;
	display: inline-block;
}

#content #how-it-works #how-it-works-content {
	display: none;
}