#content>div>#main-content>#project-summary {
	margin-bottom: 20px;
}

#content>div>#main-content>#project-share {
	clear: both;
	overflow: auto;
	margin-bottom: 20px;
}

#content>div>#main-content>#project-share>#project-owner {
	width: 250px;
	float: left;
}

#content>div>#main-content>#project-share>#project-support {
	width: 350px;
	float: left;
}

#content>div>#main-content>#project-share>#project-support img {
	margin: 5px;
	float: left;
}

#content>div>#main-content>#project-share>#project-support img.heart {
	height: 40px;
}

#content>div>#main-content>#project-share>#project-support img.spoons {
	height: 33px;
}

#content>div>#main-content>#project-share>#project-support #support {
	text-align: left;
	float: left;
	width: 35%;
}

#content>div>#main-content>#project-share>#project-support #audience {
	text-align: left;
	width: 65%;
	float: left;
}

#content>div>#main-content>#project-desc {
	padding: 0px;
}

#content>div>#main-content>#project-desc .project-img {
	width: 600px;
}

#content>div>aside>#embrace {
	margin-bottom: 20px;
}

#content>div>aside>#supporters {
	margin-bottom: 20px;
}

#content>div>aside>#related {
	
}