.projects>.project {
	margin-bottom: 27px;
	width: 280px;
	float: left;
}

.projects>.project.idea {
	border: 1px solid #BBBBBB;
}

.projects>.project.plan {
	border: 1px solid #44BFC6;
}

.projects>.project.ongoing {
	border: 1px solid #F8971D;
}

.projects.two-projects>.project.odd {
	margin-left: 25px;
}

.projects.three-projects>.project.middle {
	margin-left: 27px;
	margin-right: 27px;
}

.projects>.project .project-img {
	height: 153px;
	width: 272px;
	border: 4px solid #FFFFFF;
}

.projects>.project .project-title {
	
}

.projects>.project>.project-short-desc {
	height: 45px;
}

.projects>.project>.project-party {
	overflow: auto;
}

.projects>.project>.project-party>div {
	float: left;
	height: 0px;
	width: 0px;
	overflow: hidden;
	width: 0px;
}

.projects>.project.idea>.project-party>div.idea {
	height: auto;
	width: 280px;
}

.projects>.project.plan>.project-party>div.plan {
	height: auto;
	width: 280px;
}

.projects>.project.ongoing>.project-party>div.ongoing {
	height: auto;
	width: 280px;
}

.projects>.project.idea.plan>.project-party>div.idea {
	
}

.projects>.project.idea.plan>.project-party>div.plan {
	
}

.projects>.project.plan.ongoing>.project-party>div.plan {
	
}

.projects>.project.plan.ongoing>.project-party>div.ongoing {
	
}

.projects>.project.idea.plan.ongoing>.project-party>div.idea {
	
}

.projects>.project.idea.plan.ongoing>.project-party>div.plan {
	
}

.projects>.project.idea.plan.ongoing>.project-party>div.ongoing {
	
}

.projects>.project>.project-party img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.projects>.project>.project-support {
	margin: 10px -10px -10px -10px;
	clear: both;
	overflow: auto;
	background: rgba(255, 255, 255, 0.7);
}

.projects>.project>.project-support img {
	margin: 5px;
	float: left;
}

.projects>.project>.project-support img.heart {
	height: 28px;
}

.projects>.project>.project-support img.spoons {
	height: 23px;
}

.projects>.project>.project-support .support {
	text-align: left;
	float: left;
	width: 35%;
}

.projects>.project>.project-support .audience {
	text-align: left;
	width: 65%;
	float: left;
}

.projects>.project .project-category {
	position: absolute;
	margin-top: -400px;
	margin-left: 255px;
	z-index: 10;
}