.projects .project {
	width: 260px;
}

.projects .project .project-range {
	position: absolute;
	margin-top: -5px;
	margin-left: 210px;
	height: 85px;
	width: 42px;
	text-align: center;
	padding: 5px;
}

.projects .project .project-range.orange {
	background: url("../image/orange-flag.png");
}

.projects .project .project-range * {
	z-index: 2;
}

.projects .project .project-range .flag {
	z-index: 1;
	position: absolute;
}

.projects .project .project-img {
	height: 190px;
	width: 250px;
	border: 4px solid #FFFFFF;
}

.projects .project .project-title {
	
}

.projects .project .project-desc {

}

.projects .project .project-owner {
	display: inline-block;
	width: 125px;
}

.projects .project .project-owner.left {
	margin-right: 10px;
}

.projects .project .project-owner a {
	color: #4F5B5A;
	font-weight: bold;
}

.projects .project .project-owner a div {
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 65px;
	overflow: hidden;
}

.projects .project .project-owner-img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.projects .project .project-support {
	text-align: center;
}
